<div class="row">
  <div class="span8">

    <div class="page-header">
      <h1>Bingo #<%= bingo.id ? bingo.id : "nuevo" %></h1>
    </div>
    
    <div id="alert-container">

    </div>
    

    <form class="form-horizontal">
      <fieldset>

        <div class="control-group" id="cardPrice">
          <label for="cardPrice-input" class="control-label">Precio carton</label>
          <div class="controls">
              <input type="text" class="input-small" id="cardPrice-input" value="<%= bingo.cardPrice %>" />
              <span class="help-block">Ejemplo: 10 (10 pesos)</p>
          </div>
        </div>

        <div class="control-group" id="cardColor">
          <label for="cardColor-input" class="control-label">Color carton</label>
          <div class="controls">
              <select id="cardColor-input" class="input-medium">
                <option value="1">Rojo</option>
                <option value="2">Azul</option>
                <option value="3">Verde</option>
                <option value="4">Rosa</option>
                <option value="5">Anaranjado</option>
              </select>
              <span class="help-inline">Seleccione el color del carton</span>
          </div>
        </div>

        <div class="control-group" id="lapseBetweenNumbers">
          <label for="lapseBetweenNumbers-input" class="control-label">Tiempo entre números</label>
          <div class="controls">
              <input type="text" class="input-small" id="lapseBetweenNumbers-input" value="<%= bingo.lapseBetweenNumbers %>" />
              <span class="help-inline">En segundos. Ejemplo: 5 (5 segundos).</span>
          </div>
        </div>

        <div class="control-group" id="sellingInterval">
          <label for="sellingInterval-input" class="control-label">Duración de la venta de cartones</label>
          <div class="controls">
              <input type="text" class="input-small" id="sellingInterval-input" value="<%= bingo.sellingInterval %>" />
              <span class="help-inline">En segundos. Ejemplo: 300 (5 minutos).</span>
          </div>
        </div>

        <div class="control-group" id="linePrize">
          <label for="linePrize-input" class="control-label">Premio Linea inicial</label>
          <div class="controls">
              <input type="text" class="input-small" id="linePrize-input" value="<%= bingo.linePrize %>" />
              <span class="help-inline">Este valor se ira incrementando con cada venta de carton.</span>
          </div>
        </div>

        <div class="control-group" id="linePrizeRate">
          <label for="linePrizeRate-input" class="control-label">Porcentaje premio de Linea</label>
          <div class="controls">
              <input type="text" class="input-small" id="linePrizeRate-input" value="<%= bingo.linePrizeRate %>" />
              <span class="help-block">Porcentaje de la venta de cada cartón que será destinado al premio de Linea. Ingresar un valor entre 0 y 1. Ejemplo: 0.15 (15%).</span>
          </div>
        </div>

        <div class="control-group" id="bingoPrize">
          <label for="bingoPrize-input" class="control-label">Premio Bingo inicial</label>
          <div class="controls">
              <input type="text" class="input-small" id="bingoPrize-input" value="<%= bingo.bingoPrize %>" />
              <span class="help-inline">Este valor se ira incrementando con cada venta de carton.</span>
          </div>
        </div>

        <div class="control-group" id="bingoPrizeRate">
          <label for="bingoPrizeRate-input" class="control-label">Porcentaje premio de Bingo</label>
          <div class="controls">
              <input type="text" class="input-small" id="bingoPrizeRate-input" value="<%= bingo.bingoPrizeRate %>" />
              <span class="help-block">Porcentaje de la venta de cada cartón que será destinado al premio de Bingo. Ejemplo: 0.45 (45%).</span>
          </div>
        </div>

        <div class="control-group" id="remainingNumbers">
          <label for="remainingNumbers-input" class="control-label">Numeros por salir</label>
          <div class="controls">
              <input type="text" class="input-xlarge" id="remainingNumbers-input" value="<%= bingo.remainingNumbers %>" />
              <span class="help-block">Separados por coma.</span>
          </div>
        </div>

        <div class="control-group" id="calledNumbers">
          <label for="calledNumbers-input" class="control-label">Numeros que salieron</label>
          <div class="controls">
              <input type="text" class="input-xlarge" id="calledNumbers-input" value="<%= bingo.calledNumbers %>" />
              <span class="help-block">Separados por coma.</span>
          </div>
        </div>

        <div class="control-group" id="starts">
          <label for="starts-input" class="control-label">Hora y fecha de comienzo</label>
          <div class="controls">
              <input type="text" class="input" id="starts-input" value="<%= bingo.starts ? bingo.starts.format("HH:mm DD/MM/YYYY") : "" %>" />
              <span class="help-block">Hora y fecha en que comenzará este Bingo, en formato: HH:MM DD/MM/AAAA. Ejemplo: "20:00 10/10/2012" es 10 de octubre de 2012 a las 20hs en punto.</span>
          </div>
        </div>

        <div class="control-group" id="minClientsCount">
          <label for="minClientsCount-input" class="control-label">Cantidad de compradores mínima</label>
          <div class="controls">
              <input type="text" class="input-small" id="minClientsCount-input" value="<%= bingo.minClientsCount %>" />
              <span class="help-block">Cantidad mínima de jugadores compradores de cartones para comenzar el bingo</span>
          </div>
        </div>

        <div class="control-group" id="minTotalClientsCount">
          <label for="minTotalClientsCount-input" class="control-label">Cantidad mínima de usuarios conectados</label>
          <div class="controls">
              <input type="text" class="input-small" id="minTotalClientsCount-input" value="<%= bingo.minTotalClientsCount %>" />
              <span class="help-block">Cantidad mínima de jugadores conectados para comenzar el bingo</span>
          </div>
        </div>

        <div class="control-group" id="sellingCancellationTimeout">
          <label for="sellingCancellationTimeout-input" class="control-label">Tiempo de espera hasta lograr las condiciones (en segundos)</label>
          <div class="controls">
              <input type="text" class="input-small" id="sellingCancellationTimeout-input" value="<%= bingo.sellingCancellationTimeout %>" />
              <span class="help-block">Tiempo (en segundos) que se esperará desde que el Bingo comienza a vender hasta que se logran las condiciones mínimas de usuarios. Agotado este tiempo el Bingo será cancelado y el dinero devuelto. Ejemplo: 300 significa que se esperarán 5 minutos hasta lograr la cantidad de clientes compradores y clientes conectados.</span>
          </div>
        </div>


        <div class="form-actions">
          <button type="submit" class="btn btn-primary">Guardar</button>
          <a class="btn btn-back">Atrás</a>
        </div>

      </fieldset>
    </form>

  </div>
</div>
