<div class="row">
  <div class="span12">

    <div class="page-header">
      <h1>Lista de Bingos</h1>
    </div>

    <p>
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>#</th>
            <th>Precio</th>
            <th><i class="icon-time"></i>Comienzo programado</th>
          </tr>
        </thead>
        <tbody>
        <% _.each(bingos, function(bingo) { %>
          <tr <% print(bingo.isRunning ? 'class="success"' : bingo.isPaused || bingo.isLightPaused ? 'class="warning"' : bingo.isSelling ? 'class="success"' : bingo.isFinished ? 'class="info"' : bingo.isCancelled? 'class="error"' : '');
                 %>
                 >
            <td>
              <a href="#/bingos/<%- bingo.id %>"><%- bingo.id %></a>
            </td>
            <td>
              <a href="#/bingos/<%- bingo.id %>">$<%- bingo.cardPrice %></a>
            </td>
            <td>
              <a href="#/bingos/<%- bingo.id %>"><%- bingo.starts ? bingo.starts.format("HH:mm DD/MM/YYYY") : "-"  %></a>
            </td>
          </tr>
        <% }); %>
        </tbody>
      </table>
    </p>

  </div>
</div>
