<div class="tabbable"> <!-- Only required for left/right tabs -->
    <ul class="nav nav-tabs" id="bingoTabs">
        <li class="active"><a href="#tab1" data-toggle="tab">Bingo #<%= bingo.id %></a></li>
        <li><a href="#tab2" data-toggle="tab">&nbsp;</a></li>
    </ul>
  
    <div class="tab-content">
        <div class="tab-pane active" id="tab1">
            <div class="row">
              <div class="span6" id="bingoContainer">

                <div style="min-height: 25px;">
                  <div data-show='bingo.isRunning'>
                    <span class="label label-success">CORRIENDO</span>
                  </div>
                  <div data-show='bingo.isPaused'>
                    <span class="label label-important">Detenido</span>
                  </div>
                  <div data-show='bingo.isLightPaused'>
                    <span class="label label-warning">Pausado</span>
                  </div>
                  <div data-show='bingo.isSelling'>
                    <span class="label label-warning">Vendiendo tarjetas: &nbsp;</span><span data-text="bingo:getSellingIntervalTimer < .sellingIntervalTimer | time"></span>
                  </div>
                  <div data-show='bingo.isFinished'>
                    <span class="label label-info">Finalizado</span>
                  </div>
                  <div data-show='bingo.isCancelled'>
                    <span class="label label-important">Cancelado</span>
                  </div>
                </div>
                <p>
                  <!-- Duplicate buttons until a proper workaround is applied to backbone bingo model -->
                  <!-- Start -->
                  <button data-show='bingo.canStart' class="btn btn-success" id="start-btn">Comenzar</button>
                  <!-- Light Pause -->
                  <button data-show='bingo.isRunning' class="btn btn-warning" id="pause-btn">Pausar</button>
                  <!-- Pause -->
                  <button class="btn btn-danger" id="stop-btn">Detener</button>
                </p>

                <p>
                  <table class="table table-striped">
                    <tbody>
                      <tr>
                        <td><h6>Precio carton:</h6></td>
                        <td>
                          <%= bingo.cardPrice.toFixed(2) %>
                        </td>
                      </tr>
                      <tr>
                        <td><h6>Hora y fecha comienzo:</h6></td>
                        <td>
                          <%= bingo.starts ? bingo.starts.format("HH:mm DD/MM/YYYY") : "-" %>
                        </td>
                      </tr>
                      <tr>
                        <td><h6>Numeros que salieron:</h6></td>
                        <td>
                          <textarea rows="5" cols="70" data-text='bingo.calledNumbers'>
                            <%= bingo.calledNumbers %>
                          </textarea>
                        </td>
                      </tr>
                      <tr>
                        <td><h6>Numeros que restan salir:</h6></td>
                        <td>
                          <textarea rows="5" cols="70" data-text='bingo.remainingNumbers'>
                            <%= bingo.remainingNumbers %>
                          </textarea>
                        </td>
                      </tr>
                      <tr>
                        <td><h6>Creado:</h6></td>
                        <td>
                          <i class="icon-time"></i>
                          <%= bingo.created.format("HH.mm DD/MM/YYYY") %>
                        </td>
                      </tr>
                      <tr>
                        <td><h6>Modificado:</h6></td>
                        <td>
                          <i class="icon-time"></i>
                          <%= bingo.updated ? bingo.updated.format("HH:mm DD/MM/YYYY") : '-' %>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </p>

                <p>
                  <a href="#/bingos/<%= bingo.id %>/edit" class="btn edit-btn">Editar</a>
                </p>

              </div>
            </div>
        </div><!-- /tab-pane -->
        <div class="tab-pane active" id="tab2">
            
        </div><!-- /tab-pane -->
    </div><!-- /tab-content -->
</div><!-- /tabbable -->

