/* Global */

/* Join form */
#join-form { padding: 1em; }
#nick-input { margin-bottom: 1em; }
#nick-error { display: none; color: #d00; }

/* Chat */
/*
#chat { display: none; height: 100%; }
#main { width: 80%; height: 100%; float: left; }
#messages { height: 90%; overflow-y: scroll; background-color: #eee; }
#message-form { height: 10%; }
#message-input { width: 100%; height: 100%; padding: 0 1em; border: none; outline: none; }
#users { width: 20%; height: 100%; float: left; background-color: #ddd; }
*/
div.messages {
    background-color: #dceaf4;
    min-height: 400px;
    border-radius: 5px;
    border-width: 2px;
}

div.users {
    background-color: #dceaf4;
    min-height: 400px;
    border-radius: 5px;
    border-width: 2px;

}

span.text-center {
    text-align: center;
    display: block;
}

div.container {
    background-image: url("../img/fondo-bolas-colores.jpg");
}

.sender { font-weight: bold; }
.system-message { font-style: italic; }

