/* LOGIN */

/* THIS CSS MUST BE MERGED INTO dingo.css. FOR NOW I'M LEAVING
*  IT HERE AS I DON'T HAVE THE TIME TO DO IT (THERE ARE A FEW
*  STYLES WITH SAME SELECTORS).
*/
div#loginContainer
{
    background-image: url("../img/fondo-bolas-colores.jpg");
    min-height: 650px;
    position: relative;
}

.bingo-logo
{
    position: relative;
    margin-left: 50px;
}

#loginForm
{
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    padding: 15px;
    width: 264px;
    color: #FFF;
    background-color: #1F242A;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#loginForm .control-group
{
    margin-bottom: 5px;
}

#loginForm input
{
    width: 150px;
    padding: 10px;
    margin-left: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#loginForm .button
{
    width: 174px;
    font-weight: bold;
    color: #101F37;
    border: solid 1px #2C50A5;
    background: #319CD0;
    background: -webkit-gradient(linear, left top, left bottom, from(#58B9E7), to(#319CD0));
    background: -moz-linear-gradient(top, #58B9E7, #319CD0);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#58B9E7', endColorstr='#319CD0');
}

#loginForm label
{
    font-weight: bold;
    padding-top: 10px;
    text-align: left;
    width: 80px;
}

#loginForm .extras
{
    font-size: 12px;
}

#loginForm .remember-me
{
    font-size: 12px;
    padding: 5px;
}

#footer {
  font-size: 12px;
  background: rgb(31, 36, 42); opacity: 0.8;
  position: absolute;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  min-height: 100px;
  bottom: 0px;
  padding-top: 10px;
}

#footer p {
  color: #FFF;
  text-align: right;
  margin-right: 30px;
}

#footer a {
  color: #FFF;
}

div.loginAlerts
{
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

/* /LOGIN */
