div#container
{
    background-color: #005687;
    min-height: 400px;
    min-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

div.dingoDefault
{
    background-color: #a1d2f2;
    border-radius: 15px;
    border-style: solid;
    border-color: #2586bd;
    border-width: 2px;
    padding: 5px;
    margin: 4px;
}

div.positionRelative
{
    position: relative;
}

div.dingoClientAccount
{
    padding: 15px;
}

div.dingoNextBingo
{
    padding: 15px;
}

div.leftColumn
{
    padding-left: 15px;
}

div.rightColumn
{
    padding-right: 15px;
}

div.dingoInfo
{
    background-color: #e21619;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

p.dingoInfo
{
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-style: normal;
    margin: 0px;    
    color: black;
    
    /*filter: progid:DXImageTransform.Microsoft.Shadow(color='gray',direction=30, strength=1);*/
    text-shadow: gray 0.1em 0.1em 0.2em;
    

}

div.dingoInfoTopLeft
{
    float: left;
    text-align: left;
}

div.dingoInfoTopRight
{
    float: right;
    text-align: right;
}

div.dingoInformationRight
{
    min-height: 140px;
    max-height: 140px;
}

div.dingoNotifications
{
    overflow-y: scroll;
    min-height: 80px;
    max-height: 80px;
}

div.h2
{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

div.dingoLatestCalledNumbers
{
    min-width: 300px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    min-height: 70px;
}

div.dingoSingleLatestCalledNumber
{
    margin-left: 0px;
    margin-right: 0px;
    float:right;
}


div#clientAccount
{
    min-height: 80px;
}

div#bingoInfoRight
{
    min-height: 150px;
}

div.notificationsBanner
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    text-align: center;
    color: black;
    display: none;
}

p.bannerLine
{
    font-family: 'Nunito', sans-serif;
    font-size: 120px;
    height: 120px;
    color: black;
}

span.h1
{
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-style: normal;

    text-shadow: black 0.1em 0.1em 0.2em;
    color: white;
    font-size: 30px;
    filter: progid:DXImageTransform.Microsoft.Shadow(color='black',direction=30,strength=2);

    display:inline-block;
}

span.h2
{
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-style: normal;

    text-shadow: black 0.1em 0.1em 0.2em;
    color: white;
    font-size: 24px;
    filter: progid:DXImageTransform.Microsoft.Shadow(color='black', direction=30, strength=2);

    display: inline-block;
}

span.h3
{
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-style: normal;

    text-shadow: black 0.1em 0.1em 0.2em;
    color: white;
    font-size: 18px;
    filter: progid:DXImageTransform.Microsoft.Shadow(color='black',direction=30, strength=2);

    display: inline-block;
}

span.h4
{
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-style: normal;

    text-shadow: black 0.1em 0.1em 0.2em;
    color: white;
    font-size: 14px;
    filter: progid:DXImageTransform.Microsoft.Shadow(color='black',direction=45, strength=2);
}

span.bold
{
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-style: normal;

    color: black;
    font-size: 18px;
}

span.normal
{
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-style: normal;

    font-size: 14px;
    color: black;
}

span.sameLine
{
    display: inline;
}

a.buyCards
{
    background-color: #84a7c7;
    background-image: url("/img/boton-cartones.png");
    background-repeat: norepeat;
    display: block;
    text-align: center;
    line-height: 40px;
    width: 146px;
}

a.buySeries
{
    background-color: #84a7c7;
    background-image: url("/img/boton-series.png");
    background-repeat: norepeat;
    display: block;
    text-align: center;
    line-height: 40px;
    width: 146px;
}

div.buyCards
{
    background-color: #84a7c7;
    border-width: 0px;
    padding: 2px;
    width: 300px;
    height: 85px;
    margin-left: auto;
    margin-right: auto;
}

div.buyCardsContainedLeft
{
    margin-left: 5px;
    margin-top: 5px;
}

div.buyCardsContainedRight
{
    margin-right: 5px;
    margin-top: 5px;
}

div.remainingTime
{
    margin-left: auto; 
    margin-right: auto; 
    width: 250px;
}

div.purchaseErrors
{
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    margin-top: 5px;
    margin-bottom: 5px;
    min-height: 100px;
}

/* Workaround for a webkit inputs bug */
input.flat, textarea.flat {
    -webkit-transform-style: flat !important;
}

input.twodigits {
    width: 30px;
}

a.button {
    display: block;
}

/* Plus and minus signs sprites for buy/return buttons */
.plus-sign { 
    background: url('/img/plus-minus-signs.png') no-repeat 0 0; 
    width: 35px; 
    height: 35px; 
}

.minus-sign { 
    background: url('/img/plus-minus-signs.png') no-repeat 0 -39px; 
    width: 35px; 
    height: 35px; 
}

.plus-sign-hover {
    background: url('/img/plus-minus-signs.png') no-repeat -36px 0; 
    width: 35px; 
    height: 35px; 
}

.minus-sign-hover {
    background: url('/img/plus-minus-signs.png') no-repeat -36px -39px; 
    width: 35px; 
    height: 35px; 
}

.plus-sign-inactive {
    background: url('/img/plus-minus-signs.png') no-repeat -72px 0; 
    width: 35px; 
    height: 35px; 
}

.minus-sign-inactive {
    background: url('/img/plus-minus-signs.png') no-repeat -72px -39px; 
    width: 35px; 
    height: 35px; 
}
/* End of plus/minus sprites */


a.upcomingBingos
{
    margin-left:auto;
    margin-right:auto;
    display:block;
    width: 126px;
    height: 27px;
}

/*
a.myAccount
{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 146px;
    height: 27px;
}
*/

div.myaccount-buttons
{
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}


/* Beginning of called numbers table */
table.auto
{
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;

}

table.gridNumbers tr
{
    font-size: 12px;
    font-weight: bold;
}

table.gridNumbers tr td
{
    margin: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    width: 25px;
    height: 25px;
    border: none;
    text-align: center;
    vertical-align: middle;
}

table.gridNumbers tr td span.marked
{
    color: white;
    font-size: 16px;
    font-weight: bold;
}

table.gridNumbers tr td span.highlight
{
    color: orange;
    font-size: 22px;
    font-weight: bold;
}


table.gridNumbers tr.even td
{
    background-color: #0069a3;
    color: #5186a3;
}

table.gridNumbers tr.odd td
{
    background-color: #014785;
    color: #436685;
}

table.gridNumbers tr:first-child td
{
    padding-top: 7px;
}

table.gridNumbers tr:last-child td
{
    padding-bottom: 7px;
}

table.gridNumbers tr td:first-child
{
    padding-left: 7px;
}

table.gridNumbers tr td:last-child
{
    padding-right: 7px;
}

/*This shit makes round corners on the table.*/
table.gridNumbers tr:first-child td:first-child {
    -moz-border-radius-topleft:10px;
    -webkit-border-top-left-radius:10px;
    border-top-left-radius:10px
}

table.gridNumbers tr:first-child td:last-child {
    -moz-border-radius-topright:10px;
    -webkit-border-top-right-radius:10px;
    border-top-right-radius:10px
}

table.gridNumbers tr:last-child td:first-child {
    -moz-border-radius-bottomleft:10px;
    -webkit-border-bottom-left-radius:10px;
    border-bottom-left-radius:10px
}

table.gridNumbers tr:last-child td:last-child {
    -moz-border-radius-bottomright:10px;
    -webkit-border-bottom-right-radius:10px;
    border-bottom-right-radius:10px
}

/* End of called numbers table */


/* Beginning of cards styles */
div.dingoCardsContainer
{  
    margin-left: auto;
    margin-right: auto;
    width: 560px;
    position: relative;
}

div.dingoCardsMainContainer
{
    max-height: 380px;
    overflow-y: scroll;
}

div.dingoCard
{
    padding: 0px;
    margin-right: auto;*/
    margin-top: 5px;
    margin-bottom: 5px;
    width: 265px;
    height: 110px;
    position: relative;

    /* These fucking attributes are needed in order to display an empty dingo card */
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    display: inline-block;
}

div.dingoCardBorder
{
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
}

div.leftDingoCard
{
    margin-left: 0px;
    margin-right: 5px;
    float: left;
}

div.rightDingoCard
{
    margin-right: 0px;
    margin-left: 5px;
    float: right;
}

table.dingoCard
{
    border-collapse: separate;
    padding:2px;
    width: auto;
    height: auto;
}

table.dingoCard tr
{
    font-weight: bold;
    font-size: 16px;
}

table.dingoCard tr td
{
    width: 27px;
    height: 27px;
    padding: 0px;

    text-align: center;
    vertical-align: center;

    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    /*border-color: #e21619;*/
    position: relative;

    display: inline-block;
}

table.dingoCard tr td.blank
{
    /* background-color: #8a8889; */
}
table.dingoCard tr td.number
{
    background-color: #feffff;
}
table.dingoCard tr td div.calledNumber
{
    /*background-color: #99c109;*/
    position: absolute;
    top: 3px;
    left: 0;
    width: 27px;
    height: 27px;
    font-size: 24px;
    color: gray;
}

div.cardNumber
{
    color: black;
    font-size: 10px;
    font-weight: bold;
    min-height: 20px;
    margin-top: 0px;
    margin-left: 10px;
    padding-bottom: 3px;
    margin-bottom: 0px;
}

/* End of cards styles */

div.numberJustCalled
{
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

div.numberJustCalledContainer
{
    height: 125px;
    width: 600px;
    position: relative;
    display: table;
    margin-left:auto;
    margin-right:auto;
}

div.dingoBall
{
    position: absolute;
    top: -10px;
    display: none;
}

div#ballSprite
{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 8;
}

img.ballLight
{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 9;
    max-width: none;
 }

img.cano
{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    z-index: 10;
}


div.calledNumbersCount
{
    float:left;
    margin-left: 250px;
    margin-top: 100px;
    position: absolute;
}

div.upcomingBingosContainer
{
    border-radius: 10px;
    border-style: solid;
    border-width: 3px;
    border-colog: #0b0119;
    padding: 20px;
    background-color: #021825;
}

div.upcomingBingos
{
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 5px;
    width: 400px;
    position: relative;
    background-color: #411c69;
}


table.upcomingBingos
{
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    background-color: #411c69;
    border-collapse: separate;
}

table.upcomingBingos tr th
{
    width: 175px;
}

table.upcomingBingos tr td
{
    text-align: center;
    vertical-align: center;
}


/* Login page */

/*#loginForm input*/
/*{*/
/*    -moz-border-radius:10px; /* Firefox */*/
/*    -webkit-border-radius: 10px; /* Safari, Chrome */*/
/*    -khtml-border-radius: 10px; /* KHTML */*/
/*    border-radius: 10px; /* CSS3 */*/
/*    behavior:url("border-radius.htc");*/
/*}*/

div#preload
{
    display: none;
}

div#jplayer
{
    display: block;
    line-height:0;
    height: 0;
    overflow: hidden;
}