.sprite-upcomingbingos {
  background: url( '/img/boton-horariosjugadas.png' ) no-repeat;
}

.sprite-upcomingbingos.normal {
  width: 162px;
  height: 27px;
  background-position: 0px -27px;
}

.sprite-upcomingbingos.hover {
  width: 162px;
  height: 27px;
  background-position: 0px 0px;
}

.sprite-myaccount {
    background: url('/img/boton-micuenta.png') no-repeat;
}
.sprite-myaccount.normal {
    width: 146px;
    height: 27px;
    background-position: 0px -54px;
}
.sprite-myaccount.hover {
    width: 146px;
    height: 27px;
    background-position: 0px -27px;
}
.sprite-myaccount.active {
    width: 146px;
    height: 27px;
    background-position: 0px 0px;
}
