.sprite-balls {
  background: url( '/img/sprite-balls.png' ) no-repeat;
}

.sprite-balls.normal5 {
  width: 105px;
  height: 105px;
  background-position: 0px 0px;
}

.sprite-balls.normal49 {
  width: 105px;
  height: 105px;
  background-position: -105px 0px;
}

.sprite-balls.normal38 {
  width: 105px;
  height: 105px;
  background-position: 0px -105px;
}

.sprite-balls.normal71 {
  width: 105px;
  height: 105px;
  background-position: -105px -105px;
}

.sprite-balls.normal53 {
  width: 105px;
  height: 105px;
  background-position: -210px 0px;
}

.sprite-balls.normal78 {
  width: 105px;
  height: 105px;
  background-position: -210px -105px;
}

.sprite-balls.normal6 {
  width: 105px;
  height: 105px;
  background-position: 0px -210px;
}

.sprite-balls.normal76 {
  width: 105px;
  height: 105px;
  background-position: -105px -210px;
}

.sprite-balls.normal79 {
  width: 105px;
  height: 105px;
  background-position: -210px -210px;
}

.sprite-balls.normal39 {
  width: 105px;
  height: 105px;
  background-position: -315px 0px;
}

.sprite-balls.normal16 {
  width: 105px;
  height: 105px;
  background-position: -315px -105px;
}

.sprite-balls.normal54 {
  width: 105px;
  height: 105px;
  background-position: -315px -210px;
}

.sprite-balls.normal47 {
  width: 105px;
  height: 105px;
  background-position: 0px -315px;
}

.sprite-balls.normal51 {
  width: 105px;
  height: 105px;
  background-position: -105px -315px;
}

.sprite-balls.normal2 {
  width: 105px;
  height: 105px;
  background-position: -210px -315px;
}

.sprite-balls.normal57 {
  width: 105px;
  height: 105px;
  background-position: -315px -315px;
}

.sprite-balls.normal68 {
  width: 105px;
  height: 105px;
  background-position: -420px 0px;
}

.sprite-balls.normal11 {
  width: 105px;
  height: 105px;
  background-position: -420px -105px;
}

.sprite-balls.normal23 {
  width: 105px;
  height: 105px;
  background-position: -420px -210px;
}

.sprite-balls.normal33 {
  width: 105px;
  height: 105px;
  background-position: -420px -315px;
}

.sprite-balls.normal84 {
  width: 105px;
  height: 105px;
  background-position: 0px -420px;
}

.sprite-balls.normal67 {
  width: 105px;
  height: 105px;
  background-position: -105px -420px;
}

.sprite-balls.normal32 {
  width: 105px;
  height: 105px;
  background-position: -210px -420px;
}

.sprite-balls.normal31 {
  width: 105px;
  height: 105px;
  background-position: -315px -420px;
}

.sprite-balls.normal9 {
  width: 105px;
  height: 105px;
  background-position: -420px -420px;
}

.sprite-balls.normal15 {
  width: 105px;
  height: 105px;
  background-position: -525px 0px;
}

.sprite-balls.normal25 {
  width: 105px;
  height: 105px;
  background-position: -525px -105px;
}

.sprite-balls.normal69 {
  width: 105px;
  height: 105px;
  background-position: -525px -210px;
}

.sprite-balls.normal30 {
  width: 105px;
  height: 105px;
  background-position: -525px -315px;
}

.sprite-balls.normal62 {
  width: 105px;
  height: 105px;
  background-position: -525px -420px;
}

.sprite-balls.normal45 {
  width: 105px;
  height: 105px;
  background-position: 0px -525px;
}

.sprite-balls.normal72 {
  width: 105px;
  height: 105px;
  background-position: -105px -525px;
}

.sprite-balls.normal4 {
  width: 105px;
  height: 105px;
  background-position: -210px -525px;
}

.sprite-balls.normal58 {
  width: 105px;
  height: 105px;
  background-position: -315px -525px;
}

.sprite-balls.normal46 {
  width: 105px;
  height: 105px;
  background-position: -420px -525px;
}

.sprite-balls.normal66 {
  width: 105px;
  height: 105px;
  background-position: -525px -525px;
}

.sprite-balls.normal50 {
  width: 105px;
  height: 105px;
  background-position: -630px 0px;
}

.sprite-balls.normal70 {
  width: 105px;
  height: 105px;
  background-position: -630px -105px;
}

.sprite-balls.normal41 {
  width: 105px;
  height: 105px;
  background-position: -630px -210px;
}

.sprite-balls.normal3 {
  width: 105px;
  height: 105px;
  background-position: -630px -315px;
}

.sprite-balls.normal89 {
  width: 105px;
  height: 105px;
  background-position: -630px -420px;
}

.sprite-balls.normal29 {
  width: 105px;
  height: 105px;
  background-position: -630px -525px;
}

.sprite-balls.normal7 {
  width: 105px;
  height: 105px;
  background-position: 0px -630px;
}

.sprite-balls.normal81 {
  width: 105px;
  height: 105px;
  background-position: -105px -630px;
}

.sprite-balls.normal10 {
  width: 105px;
  height: 105px;
  background-position: -210px -630px;
}

.sprite-balls.normal21 {
  width: 105px;
  height: 105px;
  background-position: -315px -630px;
}

.sprite-balls.normal63 {
  width: 105px;
  height: 105px;
  background-position: -420px -630px;
}

.sprite-balls.normal35 {
  width: 105px;
  height: 105px;
  background-position: -525px -630px;
}

.sprite-balls.normal56 {
  width: 105px;
  height: 105px;
  background-position: -630px -630px;
}

.sprite-balls.normal17 {
  width: 105px;
  height: 105px;
  background-position: -735px 0px;
}

.sprite-balls.normal1 {
  width: 105px;
  height: 105px;
  background-position: -735px -105px;
}

.sprite-balls.normal52 {
  width: 105px;
  height: 105px;
  background-position: -735px -210px;
}

.sprite-balls.normal90 {
  width: 105px;
  height: 105px;
  background-position: -735px -315px;
}

.sprite-balls.normal26 {
  width: 105px;
  height: 105px;
  background-position: -735px -420px;
}

.sprite-balls.normal37 {
  width: 105px;
  height: 105px;
  background-position: -735px -525px;
}

.sprite-balls.normal80 {
  width: 105px;
  height: 105px;
  background-position: -735px -630px;
}

.sprite-balls.normal13 {
  width: 105px;
  height: 105px;
  background-position: 0px -735px;
}

.sprite-balls.normal86 {
  width: 105px;
  height: 105px;
  background-position: -105px -735px;
}

.sprite-balls.normal60 {
  width: 105px;
  height: 105px;
  background-position: -210px -735px;
}

.sprite-balls.normal82 {
  width: 105px;
  height: 105px;
  background-position: -315px -735px;
}

.sprite-balls.normal88 {
  width: 105px;
  height: 105px;
  background-position: -420px -735px;
}

.sprite-balls.normal77 {
  width: 105px;
  height: 105px;
  background-position: -525px -735px;
}

.sprite-balls.normal64 {
  width: 105px;
  height: 105px;
  background-position: -630px -735px;
}

.sprite-balls.normal20 {
  width: 105px;
  height: 105px;
  background-position: -735px -735px;
}

.sprite-balls.normal12 {
  width: 105px;
  height: 105px;
  background-position: -840px 0px;
}

.sprite-balls.normal61 {
  width: 105px;
  height: 105px;
  background-position: -840px -105px;
}

.sprite-balls.normal74 {
  width: 105px;
  height: 105px;
  background-position: -840px -210px;
}

.sprite-balls.normal34 {
  width: 105px;
  height: 105px;
  background-position: -840px -315px;
}

.sprite-balls.normal40 {
  width: 105px;
  height: 105px;
  background-position: -840px -420px;
}

.sprite-balls.normal85 {
  width: 105px;
  height: 105px;
  background-position: -840px -525px;
}

.sprite-balls.normal65 {
  width: 105px;
  height: 105px;
  background-position: -840px -630px;
}

.sprite-balls.normal27 {
  width: 105px;
  height: 105px;
  background-position: -840px -735px;
}

.sprite-balls.normal83 {
  width: 105px;
  height: 105px;
  background-position: 0px -840px;
}

.sprite-balls.normal73 {
  width: 105px;
  height: 105px;
  background-position: -105px -840px;
}

.sprite-balls.normal22 {
  width: 105px;
  height: 105px;
  background-position: -210px -840px;
}

.sprite-balls.normal59 {
  width: 105px;
  height: 105px;
  background-position: -315px -840px;
}

.sprite-balls.normal44 {
  width: 105px;
  height: 105px;
  background-position: -420px -840px;
}

.sprite-balls.normal48 {
  width: 105px;
  height: 105px;
  background-position: -525px -840px;
}

.sprite-balls.normal42 {
  width: 105px;
  height: 105px;
  background-position: -630px -840px;
}

.sprite-balls.normal19 {
  width: 105px;
  height: 105px;
  background-position: -735px -840px;
}

.sprite-balls.normal28 {
  width: 105px;
  height: 105px;
  background-position: -840px -840px;
}

.sprite-balls.normal8 {
  width: 105px;
  height: 105px;
  background-position: -945px 0px;
}

.sprite-balls.normal87 {
  width: 105px;
  height: 105px;
  background-position: -945px -105px;
}

.sprite-balls.normal43 {
  width: 105px;
  height: 105px;
  background-position: -945px -210px;
}

.sprite-balls.normal18 {
  width: 105px;
  height: 105px;
  background-position: -945px -315px;
}

.sprite-balls.normal14 {
  width: 105px;
  height: 105px;
  background-position: -945px -420px;
}

.sprite-balls.normal55 {
  width: 105px;
  height: 105px;
  background-position: -945px -525px;
}

.sprite-balls.normal75 {
  width: 105px;
  height: 105px;
  background-position: -945px -630px;
}

.sprite-balls.normal24 {
  width: 105px;
  height: 105px;
  background-position: -945px -735px;
}

.sprite-balls.normal36 {
  width: 105px;
  height: 105px;
  background-position: -945px -840px;
}

.sprite-balls.small62 {
  width: 60px;
  height: 60px;
  background-position: 0px -945px;
}

.sprite-balls.small3 {
  width: 60px;
  height: 60px;
  background-position: -60px -945px;
}

.sprite-balls.small50 {
  width: 60px;
  height: 60px;
  background-position: -120px -945px;
}

.sprite-balls.small82 {
  width: 60px;
  height: 60px;
  background-position: -180px -945px;
}

.sprite-balls.small74 {
  width: 60px;
  height: 60px;
  background-position: -240px -945px;
}

.sprite-balls.small13 {
  width: 60px;
  height: 60px;
  background-position: -300px -945px;
}

.sprite-balls.small73 {
  width: 60px;
  height: 60px;
  background-position: -360px -945px;
}

.sprite-balls.small37 {
  width: 60px;
  height: 60px;
  background-position: -420px -945px;
}

.sprite-balls.small33 {
  width: 60px;
  height: 60px;
  background-position: -480px -945px;
}

.sprite-balls.small77 {
  width: 60px;
  height: 60px;
  background-position: -540px -945px;
}

.sprite-balls.small66 {
  width: 60px;
  height: 60px;
  background-position: -600px -945px;
}

.sprite-balls.small63 {
  width: 60px;
  height: 60px;
  background-position: -660px -945px;
}

.sprite-balls.small25 {
  width: 60px;
  height: 60px;
  background-position: -720px -945px;
}

.sprite-balls.small18 {
  width: 60px;
  height: 60px;
  background-position: -780px -945px;
}

.sprite-balls.small31 {
  width: 60px;
  height: 60px;
  background-position: -840px -945px;
}

.sprite-balls.small70 {
  width: 60px;
  height: 60px;
  background-position: -900px -945px;
}

.sprite-balls.small22 {
  width: 60px;
  height: 60px;
  background-position: -960px -945px;
}

.sprite-balls.small71 {
  width: 60px;
  height: 60px;
  background-position: -1050px 0px;
}

.sprite-balls.small86 {
  width: 60px;
  height: 60px;
  background-position: -1050px -60px;
}

.sprite-balls.small26 {
  width: 60px;
  height: 60px;
  background-position: -1050px -120px;
}

.sprite-balls.small46 {
  width: 60px;
  height: 60px;
  background-position: -1050px -180px;
}

.sprite-balls.small54 {
  width: 60px;
  height: 60px;
  background-position: -1050px -240px;
}

.sprite-balls.small52 {
  width: 60px;
  height: 60px;
  background-position: -1050px -300px;
}

.sprite-balls.small47 {
  width: 60px;
  height: 60px;
  background-position: -1050px -360px;
}

.sprite-balls.small40 {
  width: 60px;
  height: 60px;
  background-position: -1050px -420px;
}

.sprite-balls.small35 {
  width: 60px;
  height: 60px;
  background-position: -1050px -480px;
}

.sprite-balls.small59 {
  width: 60px;
  height: 60px;
  background-position: -1050px -540px;
}

.sprite-balls.small85 {
  width: 60px;
  height: 60px;
  background-position: -1050px -600px;
}

.sprite-balls.small53 {
  width: 60px;
  height: 60px;
  background-position: -1050px -660px;
}

.sprite-balls.small43 {
  width: 60px;
  height: 60px;
  background-position: -1050px -720px;
}

.sprite-balls.small67 {
  width: 60px;
  height: 60px;
  background-position: -1050px -780px;
}

.sprite-balls.small11 {
  width: 60px;
  height: 60px;
  background-position: -1050px -840px;
}

.sprite-balls.small51 {
  width: 60px;
  height: 60px;
  background-position: -1050px -900px;
}

.sprite-balls.small55 {
  width: 60px;
  height: 60px;
  background-position: 0px -1005px;
}

.sprite-balls.small28 {
  width: 60px;
  height: 60px;
  background-position: -60px -1005px;
}

.sprite-balls.small19 {
  width: 60px;
  height: 60px;
  background-position: -120px -1005px;
}

.sprite-balls.small89 {
  width: 60px;
  height: 60px;
  background-position: -180px -1005px;
}

.sprite-balls.small42 {
  width: 60px;
  height: 60px;
  background-position: -240px -1005px;
}

.sprite-balls.small79 {
  width: 60px;
  height: 60px;
  background-position: -300px -1005px;
}

.sprite-balls.small21 {
  width: 60px;
  height: 60px;
  background-position: -360px -1005px;
}

.sprite-balls.small15 {
  width: 60px;
  height: 60px;
  background-position: -420px -1005px;
}

.sprite-balls.small65 {
  width: 60px;
  height: 60px;
  background-position: -480px -1005px;
}

.sprite-balls.small20 {
  width: 60px;
  height: 60px;
  background-position: -540px -1005px;
}

.sprite-balls.small39 {
  width: 60px;
  height: 60px;
  background-position: -600px -1005px;
}

.sprite-balls.small7 {
  width: 60px;
  height: 60px;
  background-position: -660px -1005px;
}

.sprite-balls.small17 {
  width: 60px;
  height: 60px;
  background-position: -720px -1005px;
}

.sprite-balls.small64 {
  width: 60px;
  height: 60px;
  background-position: -780px -1005px;
}

.sprite-balls.small44 {
  width: 60px;
  height: 60px;
  background-position: -840px -1005px;
}

.sprite-balls.small6 {
  width: 60px;
  height: 60px;
  background-position: -900px -1005px;
}

.sprite-balls.small2 {
  width: 60px;
  height: 60px;
  background-position: -960px -1005px;
}

.sprite-balls.small75 {
  width: 60px;
  height: 60px;
  background-position: -1020px -1005px;
}

.sprite-balls.small38 {
  width: 60px;
  height: 60px;
  background-position: -1110px 0px;
}

.sprite-balls.small49 {
  width: 60px;
  height: 60px;
  background-position: -1110px -60px;
}

.sprite-balls.small48 {
  width: 60px;
  height: 60px;
  background-position: -1110px -120px;
}

.sprite-balls.small32 {
  width: 60px;
  height: 60px;
  background-position: -1110px -180px;
}

.sprite-balls.small83 {
  width: 60px;
  height: 60px;
  background-position: -1110px -240px;
}

.sprite-balls.small1 {
  width: 60px;
  height: 60px;
  background-position: -1110px -300px;
}

.sprite-balls.small78 {
  width: 60px;
  height: 60px;
  background-position: -1110px -360px;
}

.sprite-balls.small56 {
  width: 60px;
  height: 60px;
  background-position: -1110px -420px;
}

.sprite-balls.small80 {
  width: 60px;
  height: 60px;
  background-position: -1110px -480px;
}

.sprite-balls.small41 {
  width: 60px;
  height: 60px;
  background-position: -1110px -540px;
}

.sprite-balls.small36 {
  width: 60px;
  height: 60px;
  background-position: -1110px -600px;
}

.sprite-balls.small16 {
  width: 60px;
  height: 60px;
  background-position: -1110px -660px;
}

.sprite-balls.small29 {
  width: 60px;
  height: 60px;
  background-position: -1110px -720px;
}

.sprite-balls.small84 {
  width: 60px;
  height: 60px;
  background-position: -1110px -780px;
}

.sprite-balls.small90 {
  width: 60px;
  height: 60px;
  background-position: -1110px -840px;
}

.sprite-balls.small68 {
  width: 60px;
  height: 60px;
  background-position: -1110px -900px;
}

.sprite-balls.small34 {
  width: 60px;
  height: 60px;
  background-position: -1110px -960px;
}

.sprite-balls.small27 {
  width: 60px;
  height: 60px;
  background-position: 0px -1065px;
}

.sprite-balls.small81 {
  width: 60px;
  height: 60px;
  background-position: -60px -1065px;
}

.sprite-balls.small8 {
  width: 60px;
  height: 60px;
  background-position: -120px -1065px;
}

.sprite-balls.small30 {
  width: 60px;
  height: 60px;
  background-position: -180px -1065px;
}

.sprite-balls.small9 {
  width: 60px;
  height: 60px;
  background-position: -240px -1065px;
}

.sprite-balls.small23 {
  width: 60px;
  height: 60px;
  background-position: -300px -1065px;
}

.sprite-balls.small10 {
  width: 60px;
  height: 60px;
  background-position: -360px -1065px;
}

.sprite-balls.small5 {
  width: 60px;
  height: 60px;
  background-position: -420px -1065px;
}

.sprite-balls.small12 {
  width: 60px;
  height: 60px;
  background-position: -480px -1065px;
}

.sprite-balls.small76 {
  width: 60px;
  height: 60px;
  background-position: -540px -1065px;
}

.sprite-balls.small61 {
  width: 60px;
  height: 60px;
  background-position: -600px -1065px;
}

.sprite-balls.small24 {
  width: 60px;
  height: 60px;
  background-position: -660px -1065px;
}

.sprite-balls.small57 {
  width: 60px;
  height: 60px;
  background-position: -720px -1065px;
}

.sprite-balls.small87 {
  width: 60px;
  height: 60px;
  background-position: -780px -1065px;
}

.sprite-balls.small69 {
  width: 60px;
  height: 60px;
  background-position: -840px -1065px;
}

.sprite-balls.small4 {
  width: 60px;
  height: 60px;
  background-position: -900px -1065px;
}

.sprite-balls.small45 {
  width: 60px;
  height: 60px;
  background-position: -960px -1065px;
}

.sprite-balls.small58 {
  width: 60px;
  height: 60px;
  background-position: -1020px -1065px;
}

.sprite-balls.small60 {
  width: 60px;
  height: 60px;
  background-position: -1080px -1065px;
}

.sprite-balls.small72 {
  width: 60px;
  height: 60px;
  background-position: -1170px 0px;
}

.sprite-balls.small88 {
  width: 60px;
  height: 60px;
  background-position: -1170px -60px;
}

.sprite-balls.small14 {
  width: 60px;
  height: 60px;
  background-position: -1170px -120px;
}

