<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#/home">Bingo</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li class="home-menu"><a href="#/home">Home</a></li>
          <li class="dropdown list-clients-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Clientes<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#clients">Clientes</a></li>
              <li><a href="#clients/new">Nuevo cliente</a></li>
            </ul>
          </li>
          <li class="dropdown list-bingos-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Bingos<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#bingos">Bingos</a></li>
              <li><a href="#bingos/new">Nuevo bingo</a></li>
            </ul>
          </li>
          <li class="dropdown list-cashiers-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Cajeros<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#cashiers">Cajeros</a></li>
              <li><a href="#cashiers/new">Nuevo cajero</a></li>
            </ul>
          </li>
          <li class="dropdown list-reports-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reportes<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#reports/cashiers">Movimientos por cajero</a></li>
            </ul>
          </li>
          <li class="list-settings-menu"><a href="#settings">Settings</a></li>
        </ul>
        <img class="ajax-loader" src="img/ajax-loader.gif" alt="Loading..." />
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
