<div class="hero-unit">
  <h1>Bingo</h1>
  <p>Interfaz administrativa.</p>
</div>

<div class="row">
  <div class="span6">
    <h2>Ayuda</h2>
    <p> Para listar los clientes haga clic en "Clientes". 
        Para hacer un depósito, elija alguno de ellos y verá el botón "Depositar".
        En esa misma pantalla podrá editar sus datos personales (nombre, email, etc).
    </p>
    <p>
      Si desea habilitar el Bingo automático, es decir, que el sistema automáticamente tenga todo el tiempo una partida funcionando, haga clic en "Settings" y luego configure "Bingo automatico habilitado" a 1. El precio del cartón y su color puede ser configurado también desde allí.
    </p>
    <p>
      Si desea habilitar o deshabilitar el Pozo acumulado, el parámetro es "Pozo acumulado activado". Si está deshabilitado, el sistema se encargará de sortear las bolas de manera que nunca se cante bingo antes de la bola max. para el pozo acumulado.
    </p>
  </div>
</div>
