      <table class="table">
        <thead>
          <tr>
            <th><i class="icon-user"></i>Nombre</th>
            <th><i class="icon-user"></i>Apellido</th>
            <th>Balance</th>
            <th>Estado</th>
            <th><i class="icon-time"></i>Creado</th>
          </tr>
        </thead>
        <tbody>
        <% _.each(clients, function(client) { %>
          <tr>
            <td>
              <a href="#/clients/<%- client.id %>"><%- client.name %></a>
            </td>
            <td>
              <a href="#/clients/<%- client.id %>"><%- client.lastName %></a>
            </td>
            <td>
              <a href="#/clients/<%- client.id %>">$<%- client.balance %></a>
            </td>
            <td>
              <span class="label <%- client.statusClass %>"><%- client.statusLabel %></span>
            </td>
            <td>
              <%= moment(client.created).format("MMMM Do YYYY") %>
            </td>
          </tr>
        <% }); %>
        </tbody>
      </table>
