<div class="row">
  <div class="span8">

    <div class="page-header">
      <h1>Editar cliente</h1>
    </div>

    <form class="form-horizontal">
      <fieldset>

        <div class="control-group">
          <label for="name-input" class="control-label">Nombre</label>
          <div class="controls">
            <div class="input-prepend">
              <span class="add-on">
                <i class="icon-user"></i>
              </span>
              <input type="text" class="input-xlarge" id="name-input" value="<%= client.name %>" />
              <p class="help-block">Ingrese un nombre válido.</p>
            </div>
          </div>
        </div>

        <div class="control-group">
          <label for="lastName-input" class="control-label">Apellido</label>
          <div class="controls">
            <div class="input-prepend">
              <span class="add-on">
                <i class="icon-user"></i>
              </span>
              <input type="text" class="input-xlarge" id="lastName-input" value="<%= client.lastName %>" />
              <p class="help-block">Ingrese un apellido válido.</p>
            </div>
          </div>
        </div>

<div class="control-group">
          <label for="email-input" class="control-label">E-mail</label>
          <div class="controls">
            <div class="input-prepend">
              <span class="add-on">
                <i class="icon-user"></i>
              </span>
              <input type="text" class="input-xlarge" id="email-input" value="<%= client.email %>" />
              <p class="help-block">Ingrese el Email.</p>
            </div>
          </div>
        </div>

        <div class="control-group">
          <label for="telephone-input" class="control-label">Telefono</label>
          <div class="controls">
            <div class="input-prepend">
              <span class="add-on">
                <i class="icon-user"></i>
              </span>
              <input type="text" class="input-large" id="telephone-input" value="<%= client.telephone %>" />
              <p class="help-block">Ingrese el Telefono.</p>
            </div>
          </div>
        </div>

        <div class="form-actions">
          <a class="btn btn-primary save-btn">Guardar</a>
          <a class="btn back-btn">Cancelar</a>
        </div>

      </fieldset>
    </form>

  </div>
</div>
