<div class="row">
  <div class="span12">

    <div class="page-header">
      <h1>Cajeros</h1>
    </div>

    <p>
      <table class="table">
        <thead>
          <tr>
            <th>Id</th>
            <th><i class="icon-user"></i>Nombre</th>
            <th><i class="icon-user"></i>Username</th>
            <th>Estado</th>
            <th><i class="icon-time"></i>Creado</th>
          </tr>
        </thead>
        <tbody>
        <% _.each(cashiers, function(cashier) { %>
          <tr>
            <td>
              <%- cashier.id %>
            </td>
            <td>
              <a href="#/cashiers/<%- cashier.id %>"><%- cashier.name %></a>
            </td>
            <td>
              <a href="#/cashiers/<%- cashier.id %>"><%- cashier.username %></a>
            </td>
            <td>
              <span class="label <%- cashier.statusClass %>"><%- cashier.statusLabel %></span>
            </td>
            <td>
              <%= moment(cashier.created).format("MMMM Do YYYY") %>
            </td>
          </tr>
        <% }); %>
        </tbody>
      </table>
    </p>

  </div>
</div>
