<div class="tabbable"> <!-- Only required for left/right tabs -->
    <ul class="nav nav-tabs" id="cashierTabs">
        <li class="active"><a href="#tab1" data-toggle="tab">Cajero</a></li>
        <li><a href="#tab2" data-toggle="tab">Clientes</a></li>
    </ul>
  
    <div class="tab-content">
        <div class="tab-pane active" id="tab1">
            <div class="row">
              <div class="span6">

                <div class="page-header">
                  <h1><%= cashier.name %> (<%- cashier.id %>)</h1>
                  <span class="label <%- cashier.statusClass %>"><%- cashier.statusLabel %></span>
                </div>

                <p>
                  <table class="table table-striped">
                    <tbody>
                      <tr>
                        <td><h6>Username:</h6></td>
                        <td>
                          <i class="icon-user"></i>
                          <%= cashier.username %>
                        </td>
                      </tr>
                      <tr>
                        <td><h6>Email:</h6></td>
                        <td>
                          <i class="icon-envelope"></i>
                          <%= cashier.email %>
                        </td>
                      </tr>
                      <tr>
                        <td><h6>Creado:</h6></td>
                        <td>
                          <i class="icon-time"></i>
                          <%= moment(cashier.created).format("MMMM Do YYYY") %>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </p>

                <p>
                  <a href="#/cashiers/<%= cashier.id %>/edit" class="btn edit-btn">Editar</a>
                  <%= cashier.statusButton %>
                  <a href="#" id="resetPassword-btn" class="btn">Reset password</a>
                </p>
                <div id="alerts"></div>

              </div>
            </div>
        </div><!-- /tab-pane -->
        <div class="tab-pane active" id="tab2">
            
        </div><!-- /tab-pane -->
    </div><!-- /tab-content -->
</div><!-- /tabbable -->

