body {
  padding-top: 60px;
  padding-bottom: 40px;
}
footer {
  display: none;
}
th i {
  margin-right: 5px;
}
.ajax-loader {
  display: none;
}
th.text-center {
    text-align: center;
}
/* Twitter bootstrap bug..? */
.input-prepend .add-on, .input-prepend .btn {
    margin-right: -5px;
}

div.error-box {
    min-height:50px;
    height:auto;
    /* float:right; */
}

