<div class="row">
  <div class="span12">

    <div class="page-header">
      <h1>Lista de clientes</h1>
    </div>

    <p>
      <table class="table">
        <thead>
          <tr>
            <th><i class="icon-user"></i>Usuario</th>
            <th><i class="icon-user"></i>Nombre</th>
            <th>Balance</th>
            <th>Cajero</th>
            <th>Estado</th>
            <th><i class="icon-time"></i>Creado</th>
          </tr>
        </thead>
        <tbody>
        <% _.each(clients, function(client) { %>
          <tr>
            <td>
              <a href="#/clients/<%- client.id %>"><%- client.username %></a>
            </td>
            <td>
              <a href="#/clients/<%- client.id %>"><%- client.name %><%- client.lastName %></a>
            </td>
            <td>
              <a href="#/clients/<%- client.id %>">$<%- client.balance %></a>
            </td>
            <td>
              <a href="#/cashiers/<%- client.cashierId %>"><%- client.cashierUsername %></a>
            </td>
            <td>
              <span class="label <%- client.statusClass %>"><%- client.statusLabel %></span>
            </td>
            <td>
              <%= moment(client.created).format("MMMM Do YYYY") %>
            </td>
          </tr>
        <% }); %>
        </tbody>
      </table>
    </p>

  </div>
</div>
