<div class="tabbable"> <!-- Only required for left/right tabs -->
    <ul class="nav nav-tabs" id="clientTabs">
        <li class="active"><a href="#tab1" data-toggle="tab">Cliente</a></li>
        <li><a href="#tab2" data-toggle="tab">Transacciones</a></li>
    </ul>
  
    <div class="tab-content">
        <div class="tab-pane active" id="tab1">
            <div class="row">
              <div class="span6">

                <div class="page-header">
                  <h1><%= client.name %></h1>
                  <span class="label <%- client.statusClass %>"><%- client.statusLabel %></span>
                  
                </div>

                <p>
                  <table class="table table-striped">
                    <tbody>
                      <tr>
                        <td><h6>Username:</h6></td>
                        <td>
                          <i class="icon-user"></i>
                          <%= client.username %>
                        </td>
                      </tr>
                      <tr>
                        <td><h6>Email:</h6></td>
                        <td>
                          <i class="icon-envelope"></i>
                          <%= client.email %>
                        </td>
                      </tr>
                      <tr>
                        <td><h6>Telefono:</h6></td>
                        <td>
                          <%= client.telephone %>
                        </td>
                      </tr>
                      <tr>
                        <td><h6>Nombre:</h6></td>
                        <td>
                          <i class="icon-user"></i>
                          <%= client.name %>
                        </td>
                      </tr>
                      <tr>
                        <td><h6>Apellido:</h6></td>
                        <td>
                          <i class="icon-user"></i>
                          <%= client.lastName %>
                        </td>
                      </tr>
                      <tr>
                        <td><h6>Balance:</h6></td>
                        <td>
                          <span class="add-on">$</span>
                          <span id="clientBalance"><%= client.balance %></span>
                        </td>
                      </tr>
                      <tr>
                        <td><h6>Cajero:</h6></td>
                        <td>
                          <span id="cashier">
                            <%= client.cashierUsername %>
                          </span>
                        </td>
                      </tr>
                      <tr>
                        <td><h6>Creado:</h6></td>
                        <td>
                          <i class="icon-time"></i>
                          <%= moment(client.created).format("MMMM Do YYYY") %>
                        </td>
                      </tr>
                      <tr>
                        <td><h6>Modificado:</h6></td>
                        <td>
                          <i class="icon-time"></i>
                          <%= client.updated ? moment(client.updated).format("MMMM Do YYYY") : '-' %>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </p>

                <p>
                  <a href="#/clients/<%= client.id %>/edit" class="btn edit-btn">Editar</a>
                  <%= client.statusButton %>
                  <a href="#" id="resetPassword-btn" class="btn">Reset password</a>
                  <button class="btn btn-success" id="deposit-btn" data-toggle="modal" href="#depositModal">Depositar</button>
                  <button class="btn btn-warning" id="deposit-btn" data-toggle="modal" href="#withdrawalModal">Extraer</button>
                </p>
                <div id="alerts"></div>

              </div>
            </div>
        </div><!-- /tab-pane -->
        <div class="tab-pane active" id="tab2">
            
        </div><!-- /tab-pane -->
    </div><!-- /tab-content -->
</div><!-- /tabbable -->

<div class="modal hide" id="depositModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Depositar</h3>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" id="depositForm">
      <fieldset>

        <div class="control-group" id="depositAmount-group">
          <label for="depositAmount-input" class="control-label">Monto</label>
          <div class="controls">
            <div class="input-prepend">
              <span class="add-on">
                $
              </span>
              <input type="text" class="input-mini" id="depositAmount-input"/>
            </div>
          </div>
        </div>
        
        <div class="control-group">
          <label for="depositDescription-input" class="control-label">Descripción (opcional)</label>
          <div class="controls">
            <div class="input">
              <input type="text" class="input-medium" id="depositDescription-input"/>
            </div>
          </div>
        </div>
      </formset>
    </form>
  </div>
  <div class="error-box">
    <div class="alert alert-error hide" id="depositAlert">
    </div>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Cerrar</a>
    <a href="#" class="btn btn-primary" id="makeDeposit-btn">Depositar</a>
  </div>
</div>

<div class="modal hide" id="withdrawalModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Retirar</h3>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" id="withdrawalForm">
      <fieldset>

        <div class="control-group" id="withdrawalAmount-group">
          <label for="withdrawalAmount-input" class="control-label">Monto</label>
          <div class="controls">
            <div class="input-prepend">
              <span class="add-on">
                $
              </span>
              <input type="text" class="input-mini" id="withdrawalAmount-input"/>
            </div>
          </div>
        </div>
        
        <div class="control-group">
          <label for="withdrawalDescription-input" class="control-label">Descripción (opcional)</label>
          <div class="controls">
            <div class="input">
              <input type="text" class="input-medium" id="withdrawalDescription-input"/>
            </div>
          </div>
        </div>
      </formset>
    </form>
  </div>
  <div class="error-box">
    <div class="alert alert-error hide" id="withdrawalAlert">
    </div>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Cerrar</a>
    <a href="#" class="btn btn-primary" id="makeWithdrawal-btn">Extraer</a>
  </div>
</div>
