<div id="transactionsList">
    <p>
        <table class="table">
            <thead>
                <tr>
                    <th>Tipo</th>
                    <th>Fecha</th>
                    <th>Monto</th>
                </tr>
            </thead>
            <tbody>
            <% _.each(transactions, function(t) { %>
                <tr>
                    <td>
                        <%- t.typeDescription %>
                    </td>
                    <td>
                        <%= moment(t.created, "YYYY-MM-DD HH:mm:ss").format("DD/MM/YYYY HH:mm:ss") %>
                    </td>
                    <td>
                        $<%- t.amount %></a>
                    </td>
                
                </tr>
            <% }); %>
            </tbody>
        </table>
    </p>
</div>
