<!-- templates/account.html -->

<p>
  <span class="h3">Bienvenido&nbsp;</span>
  <span id="username" data-text="client.username" class="bold"></span>
  &nbsp;&nbsp;&nbsp;<a href="#" id="logout-btn"><span class="normal">[Salir]</span></a>
</p>
<p>
  <span class="h3">Tu saldo:&nbsp;</span>
  <span id="balance" data-text="client.balance | money" class="bold"></span>&nbsp;
  <span class="normal">créditos</span>&nbsp;
  <span style="display:inline-block; vertical-align:top" >
    <a href="#" id="refresh-btn"><img src="/img/boton-refresh.png"></a>
  </span>
</p>
  <span class="h3">Cartones en esta jugada:&nbsp;</span>
  <span id="clientCardsCount" data-text="bingo.currentClientCardsCount" class="bold"></span>
<p>
</p>
<div class="myaccount-buttons">
  <!--<a href="#" id="myaccount-btn" class="myAccount sprite-myaccount normal pull-left"></a>-->
  <button class="btn btn-success pull-left" id="myaccount-btn" type="button">Mi cuenta</button>
  <button class="btn btn-success pull-right" id="chat-btn" type="button">Chat</button>
  <div class="clearfix"></div>
</div>
