<!-- templates/account_details.html -->
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3 id="myModalLabel">Mi Cuenta</h3>
</div>
<div class="modal-body">
  <div class="pull-left">
    <h4>Detalle de transacciones</h4>
  </div>
  <div class="pull-right">
    <dl class="dl-horizontal">
      <dt>Usuario</dt>
      <dd><%= client.username %></dd>
      <dt>Saldo</dt>
      <dd><%= client.balance %> créditos</dd>
    </dl>
  </div>
  <div class="clearfix"></div>
  <table class="table">
    <thead>
      <tr>
        <th>Tipo</th>
        <th>Fecha</th>
        <th>Monto</th>
      </tr>
    </thead>
    <tbody>
      <% _.each(transactions, function(t) { %>
      <tr>
        <td>
          <%- t.typeDescription %>
        </td>
        <td>
          <%= moment(t.created, "YYYY-MM-DD HH:mm:ss").format("DD/MM/YYYY HH:mm:ss") %>
        </td>
        <td>
          <%- t.amount %> créditos
        </td>
        
      </tr>
      <% }); %>
    </tbody>
  </table>
</div>
<div class="modal-footer">
  <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
</div>

