      <div class="row-fluid">
        <div class="span12">
          <!--
          <a href="#" id="animate">Animar</a>
          <a href="#" id="resetAnimation">Reset</a>
          <a href="#" id="line">Line</a>
          <a href="#" id="bingo">Bingo</a>
          <a href="#" id="justPassedAccumulatedOrder">justPassedAccumulatedOrder</a>
          -->

          <script src="js/common/lib/jQueryRotate3.js"></script>

          <div class="row-fluid">
            <div class="span8 leftColumn">
              <div class="row-fluid">
                <div class="span3">
                  <img src="img/bingo-logo.png">
                </div>
                <div id="bingoInfoTop" class="span9">
                  <div class="dingoDefault dingoInfo" data-backgroundcolor="bingo.cardHtmlColor">
                    
                    <div class="dingoInfoTopLeft">
                      <p class="dingoInfo">
                        <span>LINEA: </span><span data-text="bingo.linePrize | money"></span>
                      </p>
                      <p class="dingoInfo">
                        <span>BINGO: </span><span data-text="bingo.bingoPrize | money"></span>
                      </p>
                      <p class="dingoInfo">
                        <span>ACUMULADO: </span><span data-text="bingo.accumulatedPrize | money"></span>                        
                      </p>
                      <p class="dingoInfo">
                        <span>Bola max: </span><span data-text="bingo.accumulatedOrder"></span>
                      </p>
                    </div>
                    <div class="dingoInfoTopRight">
                      <p class="dingoInfo">
                        <span>Valor carton: </span><span data-text="bingo.cardPrice | money"></span><span> créditos</span>
                      </p>
                      <p class="dingoInfo">
                        <span>Vendidos: </span><span data-text="bingo.clientCardsCount"></span>. Desde </span><span data-text="bingo.firstSoldCardNumber"></span><span> hasta </span><span data-text="bingo.lastSoldCardNumber"></span>
                      </p>
                      <p class="dingoInfo">
                        <span>Jugadores en la sala: </span><span data-text="bingo.clientsCount"></span>
                      </p>
                      <p class="dingoInfo">
                        <span>Total de personas en la sala: </span><span data-text="bingo.shownTotalClientsCount"></span>
                      </p>
                    </div>
                    <div style="clear: both;"></div>
                  </div>
                </div>
              </div>
              <div class="row-fluid">
                <div class="dingoDefault">
                  <div class="numberJustCalledContainer">
                    <div id="dingoBall" class="dingoBall">
                      <div id="ballSprite" class="sprite-balls normal5">&nbsp;</div>
                      <img class="ballLight" src="img/bola-brillo.png"/>
                    </div>
                    <div id="calledNumbersCount" class="calledNumbersCount" data-show="bingo.isActive"><span class="text">Nro de orden: </span><span class="text" data-text="bingo.calledNumbersCount"></span></div>
                    <img class="cano" src="img/cano_cromado.png"/>
                  </div><!-- /div.numberJustCalledContainer -->
                </div>
                <div id="mainContainer" class="positionRelative">
                  <div data-show="bingo.isActive">
                    <div class="dingoDefault dingoCardsMainContainer">
                      <div class="dingoCardsContainer">
                        <section class="cardsContainerContent"></section>
                      </div><!-- /dingoCardsContainer -->
                      <!-- This div clears cards rows. -->
                      <div style="clear: both;"></div>
                    </div>
                  </div>
                  <div data-hide="bingo.isActive">
                    <div class="h2 upcomingBingosContainer">
                      <span class="h1">Horarios de próximas jugadas</span>
                      <div id="upcomingBingos"></div>
                    </div>
                  </div>
                  <div id="notificationsBanner" class="notificationsBanner">
                    <p id="line0" class="bannerLine"></p>
                    <p id="line1" class="bannerLine"></p>
                  </div>
                  
                </div><!-- /div#mainContainer -->
              </div>
            </div>
            <div class="span4 rightColumn">
              <div id="clientAccount" class="dingoDefault dingoClientAccount">

              </div>
              
              <div id="bingoInfoRight">
                <div data-show="bingo.isSelling" class="dingoDefault dingoNextBingo">
                <!--<div class="dingoDefault dingoNextBingo">-->
                  <div class="h2">
                    <span class="h2">PROXIMA JUGADA</span>
                  </div>
                    <!--<div class="span4">
                      <p><span class="h4">Tiempo restante<br></span><span class="bold" data-text="bingo:getSellingIntervalTimer < .sellingIntervalTimer | time">00:00</span>
                      
                      <p><span class="h4">Valor:&nbsp;&nbsp;</span><span class="bold" data-text="bingo.cardPrice | money"></span></p>
                    </div>-->
                      <!--<a href="#" id="upcomingBingos-btn" class="upcomingBingos sprite-upcomingbingos normal">&nbsp;</a>-->
                      
                          <div class="well buyCards">
                            <table class="auto">
                              <tr>
                                <td><span class="h3">SERIES</span></td>
                                <td>&nbsp;</td>
                                <td><a href="#" id="buySeries-btn" class="button plus-sign">&nbsp;</a></td>
                                <td>&nbsp;</td>
                                <td><input type="number" min="1" max="99" class="input-mini flat twodigits" value="1" id="buySeries-input"></td>
                                <td>&nbsp;</td>
                                <td><a href="#" id="returnSeries-btn" class="button minus-sign">&nbsp;</a></td>
                              </tr>
                              <td><span class="h3">CARTONES</span></td>
                                <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                <td><a href="#" id="buyCards-btn" class="button plus-sign">&nbsp;</a></td>
                                <td>&nbsp;</td>
                                <td><input type="number" min="1" max="99" class="input-mini flat twodigits" value="1" id="buyCards-input"></td>
                                <td>&nbsp;</td>
                                <td><a href="#" id="returnCards-btn" class="button minus-sign">&nbsp;</a></td>
                              </tr>
                            </table>
                          </div>                          
                          <div class="remainingTime"><span class="h3">Tiempo restante:&nbsp;&nbsp;</span><span class="bold" data-text="bingo:getSellingIntervalTimer < .sellingIntervalTimer | time">00:00</span></div>
                          <div id="purchaseErrors" class="purchaseErrors"></div>
                </div>
               
                <!--<div data-show="bingo.isRunning || bingo.isLightPaused" class="dingoDefault">-->
                <div class="dingoDefault">
                    <div class="h2">
                      <span class="h2">JUGADA ACTUAL</span>
                    </div>
                    <div class="dingoLatestCalledNumbers">
                    </div>
                    
                    <!-- THE GRID! -->
                    <div id="calledNumbers">
                    </div>
                </div>

                <div id="dingoInformationRight" data-show="bingo.isActive" class="dingoDefault dingoInformationRight">
                  <div class="h2">
                    <span class="h2">Información</span>                   
                    <span class="h2"><a href="#" id="upcomingBingos-btn" class="upcomingBingos sprite-upcomingbingos normal">&nbsp;</a></span>
                  </div>
                  <div id="dingoNotifications" class="dingoNotifications">
                    
                  </div>  
                </div>

              </div><!-- /div #bingoInfoRight
            </div><!-- /div .rightColumn -->
          </div><!-- /div row-fluid -->
        </div><!-- /div span12 -->
      </div><!-- /div row-fluid -->
      
      <!-- Special stuff -->
      <div id="jplayer" class="jplayer pull-left">
      </div>
      <div class="modal hide fade" id="upcomingBingosModal" tabindex="-1" role="dialog">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="myModalLabel">&nbsp;</h3>
        </div>
        <div class="modal-body">
          <div class="h2 upcomingBingosContainer">
            <span class="h1">Horarios de próximas jugadas</span>
            <div id="upcomingBingosModalContent"></div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
        </div>
      </div>

      <div class="modal hide fade" id="myAccountModal" tabindex="-1" role="dialog">  
      </div>
