<link href="css/dingo-login.css" rel="stylesheet" />

<div id="loginContainer">
  <img class="bingo-logo" src="img/logo-landing-page.png">

  <div id="clientConfirmed" class="alert alert-success hide">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <strong>Exito!</strong> Su cuenta ha sido habilitada. Ya puede ingresar al sistema.
  </div>

  <div id="loginForm" class="form-horizontal">
    <div class="control-group">
      <label for="username" class="control-label">Usuario</label>
      <input id="username" name="username" type="test" required="required" size="16" placeholder="usuario" />
      <p align="right" class="remember extras"><a href="#" tabindex="-1">¿Olvidaste tu Usuario?</a></p>
    </div>

    <div class="control-group">
      <label for="password" class="control-label">Contraseña</label>
      <input id="password" name="password" type="password" required="required" placeholder="••••••••••" />
      <p align="right" class="remember extras"><a href="#" tabindex="-1">¿Olvidaste tu Contraseña?</a></p>
    </div>

    <p align="right">
      <input type="button" id="login" class="button login" value="¡BUENA SUERTE!" />
    </p>
    
    <p class="sign-up extras">¿No tenés cuenta? <a href="#signUpModal" data-toggle="modal" >REGISTRATE GRATIS</a></p>

    <!--<div class="control-group">
        <input id="remember-me" name="remember_me" type="checkbox" checked="checked" />
        <span class="remember-me">Recordarme en esta computadora</span>
    </div>-->
  </div>

  <div class="modal hide" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="signUpModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="signUpModalLabel">Nuevo Registro</h3>
    </div>
    <div class="modal-body">
      <div id="successMessage" class="alert alert-success hide">
        <p>Se ha enviado un email de confirmacion a la casilla ingresada. Por favor revise su correo e inmediatamente podrá ingresar a Bingo Rosario.</p>
        <button type="button" class="btn btn-success btn-large btn-block" data-dismiss="modal">OK</button>
      </div>
      
      <div id="errorMessage" class="alert alert-error hide">
        <p>Hubo un problema en el sistema. Vuelva a intentar</p>
      </div>
      
      <div id="signUpForm" class="form-horizontal">
        <fieldset>
          
          <div id="usernameGroup" class="control-group">
            <label for="usernameInput" class="control-label">Username</label>
            <div class="controls">
              <div class="input-prepend">
                <span class="add-on">
                  <i class="icon-user"></i>
                </span>
                <input type="text" class="input-xlarge" id="usernameInput" name="usernameInput" placeholder="Nombre de Usuario"/>
              </div>
              <span id="usernameHelp" class="help-inline hide">Nombre de usuario invalido.</span>
            </div>
          </div>
          
          <div id="passwordGroup" class="control-group">
            <label for="passwordInput" class="control-label">Contraseña</label>
            <div class="controls">
              <div class="input-prepend">
                <span class="add-on">
                  <i class="icon-user"></i>
                </span>
                <input type="password" class="input-xlarge" id="passwordInput" name="passwordInput" placeholder="Contraseña" />
              </div>
              <span id="passwordHelp" class="help-inline hide">Contraseña invalida.</span>
            </div>
          </div>
          
          <div id="passwordConfirmGroup" class="control-group">
            <label for="passwordConfirmInput" class="control-label">Confirme contraseña</label>
            <div class="controls">
              <div class="input-prepend">
                <span class="add-on">
                  <i class="icon-user"></i>
                </span>
                <input type="password" class="input-xlarge" id="passwordConfirmInput" name="passwordConfirmInput" placeholder="Ingrese nuevamente la contraseña" />
              </div>
              <span id="passwordConfirmHelp" class="help-inline hide">Contraseña invalida.</span>
            </div>
          </div>

          <div id="nameGroup" class="control-group">
            <label for="nameInput" class="control-label">Nombre</label>
            <div class="controls">
              <div class="input-prepend">
                <span class="add-on">
                  <i class="icon-user"></i>
                </span>
                <input type="text" class="input-xlarge" id="nameInput" name="nameInput" placeholder="Nombre"/>
              </div>
              <span id="nameHelp" class="help-inline hide">Nombre invalido.</span>
            </div>
          </div>

          <div id="lastNameGroup" class="control-group">
            <label for="lastNameInput" class="control-label">Apellido</label>
            <div class="controls">
              <div class="input-prepend">
                <span class="add-on">
                  <i class="icon-user"></i>
                </span>
                <input type="text" class="input-xlarge" id="lastNameInput" name="lastNameInput" placeholder="Apellido"/>
              </div>
              <span id="lastNameHelp" class="help-inline hide">Apellido invalido.</span>
            </div>
          </div>
          
          <div id="mailGroup" class="control-group">
            <label for="emailInput" class="control-label">E-mail</label>
            <div class="controls">
              <div class="input-prepend">
                <span class="add-on">
                  <i class="icon-user"></i>
                </span>
                <input type="text" class="input-xlarge" id="emailInput" name="emailInput" placeholder="Correo electronico"/>
              </div>
              <span id="mailHelp" class="help-inline hide">Email invalido.</span>
            </div>
          </div>

          <div id="telephoneGroup" class="control-group">
            <label for="telephoneInput" class="control-label">Teléfono</label>
            <div class="controls">
              <div class="input-prepend">
                <span class="add-on">
                  <i class="icon-user"></i>
                </span>
                <input type="text" class="input-large" id="telephoneInput" name="telephoneInput" placeholder="Teléfono"/>
              </div>
              <span id="telephoneHelp" class="help-inline hide">Teléfono inválido.</span>
            </div>
          </div>
          <% if (cashierId) { %>
          <input type="hidden" name="cashierIdInput" id="cashierIdInput" value="<%- cashierId %>">
          <% } %>
        </fieldset>
      </div>
    </div>
    <div id="signUpFooter" class="modal-footer">
      <button id="signUpButton" class="btn btn-primary save disabled">Guardar</button>
      <button class="btn" data-dismiss="modal">Cancelar</button>
    </div>
  </div>


  <div id="loginAlerts" class="loginAlerts">
    <div id="flashAlert" class="alert hidden">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>Atención!</strong> Hemos detectado que no posee Flash Player instalado o que está utilizando algún bloqueador. Por favor permita la ejecución de contenido Flash en su navegador o si no está seguro de haberlo instalado, puede hacerlo desde <a href="http://get.adobe.com/flashplayer" target="_blank">aquí</a>.
      <br>Podrá disfrutar del juego de todas maneras pero no dispondrá de sonido durante el mismo.
    </div>
  </div>
  <div id="footer">
    <p>Todos los derechos reservados por Bingo Rosario</p>
    <p><a href="#">Ayuda</a> :: <a href="#">Soporte</a></p>
  </div>

  <div id="jplayer" class="jplayer pull-left">
  </div>

  <div id="flashModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="flashModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
      <h3 id="flashModalLabel">Problema con contenido Flash</h3>
    </div>
    <div class="modal-body">
      
    </div>
    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</a>
    </div>
  </div>
</div>
