<div class="upcomingBingos">
  <table class="upcomingBingos">
    <thead>
      <tr>
        <th><span class="h2">Horario</span></th>
        <th><span class="h2">Valor</span></th>
      </tr>
    </thead>
    <tbody>
      <% _.each(bingos, function(bingo) { %>
      <tr>
        <td><span class="h3"><%- bingo.starts.format("HH:mm") %> hs</span></td>
        <td><span class="h3"><%- bingo.cardPrice %></span></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
</div>