<h3>Periodo: <%= period %></h3>

<table class="table table-bordered">
  <thead>
    <tr>
      <th colspan="3" class="text-center">Financiero</th>
      <th colspan="7" class="text-center">Juego</th>
    </tr>
    <tr>
      <th>Depositos</th>
      <th>Extracciones</th>
      <th>Margen financiero</th>
      <th>Compras</th>
      <th>Pago linea</th>
      <th>Pago bingo</th>
      <th>Pago pozo acumulado</th>
      <th>Devoluciones</th>
      <th>Ganancia clientes</th>
      <th>Margen del juego</th>
    </tr>
  </thead>

  <tr>
    <td><%- data.deposit.toFixed(2) %></td>
    <td><%- data.withdrawal.toFixed(2) %></td>
    <td><%- data.financialMargin.toFixed(2) %></td>
    <td><%- data.cardPurchase.toFixed(2) %></td>
    <td><%- data.linePayout.toFixed(2) %></td>
    <td><%- data.bingoPayout.toFixed(2) %></td>
    <td><%- data.accumulatedPayout.toFixed(2) %></td>
    <td><%- data.cardRefund.toFixed(2) %></td>
    <td><%- data.totalClientWin.toFixed(2) %></td>
    <td><%- data.siteMargin.toFixed(2) %></td>
  </tr>
</table>
