<div class="row">
  <div class="span12">

    <div class="page-header">
      <h1>Reporte movimientos por cajero</h1>
    </div>


    <p>Ingrese fechas en formato DD/MM/AAAA.</p>
    <form class="form-inline">
      <input type="text" class="input-small" placeholder="Fecha desde" id="dateFrom-input">
      <input type="text" class="input-small" placeholder="Fecha hasta" id="dateTo-input">
      <button class="btn" type="button">Mostrar</button>
    </form>

    <div id="report-container">
    </div>
  </div>
</div>
