<h3>Periodo: <%= period %></h3>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th colspan="3" class="text-center">Financiero</th>
      <th colspan="7" class="text-center">Juego</th>
    </tr>
    <tr>
      <th>Cajero</th>
      <th>Depositos</th>
      <th>Extracciones</th>
      <th>Margen financiero</th>
      <th>Compras</th>
      <th>Pago linea</th>
      <th>Pago bingo</th>
      <th>Pago pozo acumulado</th>
      <th>Devoluciones</th>
      <th>Ganancia clientes</th>
      <th>Margen del juego</th>
    </tr>
  </thead>

  <% _.each(data, function(row) { %>
    <tr>
      <td><%- row.username || "Sin cajero" %></td>
      <td><%- row.deposit.toFixed(2) %></td>
      <td><%- row.withdrawal.toFixed(2) %></td>
      <td><%- row.financialMargin.toFixed(2) %></td>
      <td><%- row.cardPurchase.toFixed(2) %></td>
      <td><%- row.linePayout.toFixed(2) %></td>
      <td><%- row.bingoPayout.toFixed(2) %></td>
      <td><%- row.accumulatedPayout.toFixed(2) %></td>
      <td><%- row.cardRefund.toFixed(2) %></td>
      <td><%- row.totalClientWin.toFixed(2) %></td>
      <td><%- row.siteMargin.toFixed(2) %></td>
    </tr>
  <% }); %>
</table>
