<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#/home">Cajeros</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li class="home-menu"><a href="#/home">Home</a></li>
          <li class="dropdown clients-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Clientes<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#clients">Clientes</a></li>
              <li><a href="#clients/new">Agregar cliente</a></li>
            </ul>
          </li>
          <li class="dropdown reports-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reportes<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#reports/cashier">Movimientos</a></li>
            </ul>
          </li>
          <li><a href="#/logout">Salir</li>
        </ul>
        <img class="ajax-loader" src="img/ajax-loader.gif" alt="Loading..." />
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
