<div class="hero-unit">
  <h1>Bingo</h1>
  <p>Interfaz para cajeros.</p>
</div>

<div class="row">
  <div class="span6">
    <h2>Ayuda</h2>
    <p> Para listar los clientes haga clic en "Clientes". 
        Para hacer un depósito, elija alguno de ellos y verá el botón "Depositar".
        En esa misma pantalla podrá editar sus datos personales (nombre, email, etc).
    </p>
  </div>
</div>
