<form class="form-horizontal">
    <div class="control-group">
        <label for="username" class="control-label">Usuario:&nbsp;</label>
        <input id="username" name="username" type="test" required="required" size="16" placeholder="usuario" />
    </div>

    <div class="control-group">
        <label for="password" class="control-label">Contraseña: &nbsp;</label>
        <input id="password" name="password" type="password" required="required" placeholder="••••••••••" />
    </div>

    <div class="control-group">
      <div class="controls">
        <input type="button" id="login" class="btn btn-primary" value="Ingresar" />
      </div>
    </div>
</form>    

