<div class="row">
  <div class="span12">

    <div class="page-header">
      <h1>Settings</h1>
    </div>

    <p>
      <table class="table">
        <thead>
          <tr>
            <th>Descripción</th>
            <th>Valor</th>
            <th>Ayuda</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%- settings.linePrizeRate.description %></td>
            <td>
              <div id="linePrizeRate">
                <input type="text" id="linePrizeRate-input" value="<%- settings.linePrizeRate.value %>" class="input-small setting">
                <button id="linePrizeRate" class="btn btn-mini btn-success" type="button">Guardar</button>
                
              </div>
            </td>
            <td>Siempre debe ser menor a 1. Ejemplo: 0.05 para 5%; 0.15 para 15%.</td>
          </tr>

          <tr>
            <td><%- settings.bingoPrizeRate.description %></td>
            <td>
              <div id="bingoPrizeRate">
                <input type="text" id="bingoPrizeRate-input" value="<%- settings.bingoPrizeRate.value %>" class="input-small setting">
                <button id="bingoPrizeRate" class="btn btn-mini btn-success" type="button">Guardar</button>
                
              </div>
            </td>
            <td>Siempre debe ser menor a 1. Ejemplo: 0.5 para 50%; 0.44 para 44%.</td>
          </tr>

          <tr>
            <td><%- settings.lapseBetweenNumbers.description %></td>
            <td>
              <div id="lapseBetweenNumbers">
                <input type="text" id="lapseBetweenNumbers-input" value="<%- settings.lapseBetweenNumbers.value %>" class="input-small setting">
                <button id="lapseBetweenNumbers" class="btn btn-mini btn-success" type="button">Guardar</button>
                
              </div>
            </td>
            <td>Qué demora hay entre un número y el siguiente. Para asegurar el buen funcionamiento, este valor debe ser igual o superior a 7 segundos.</td>
          </tr>

          <tr>
            <td><%- settings.sellingInterval.description %></td>
            <td>
              <div id="sellingInterval">
                <input type="text" id="sellingInterval-input" value="<%- settings.sellingInterval.value %>" class="input-small setting">
                <button id="sellingInterval" class="btn btn-mini btn-success" type="button">Guardar</button>
                
              </div>
            </td>
            <td>Este tiempo de venta comenzará a correr una vez que se hayan cumplido los requisitos de clientes compradores y total de clientes conectados. Ejemplo: 120 segundos (2 minutos).</td>
          </tr>

         <tr>
            <td><%- settings.minClientsCount.description %></td>
            <td>
              <div id="minClientsCount">
                <input type="text" id="minClientsCount-input" value="<%- settings.minClientsCount.value %>" class="input-small setting">
                <button id="minClientsCount" class="btn btn-mini btn-success" type="button">Guardar</button>
                
              </div>
            </td>
            <td>Cantidad mínima de clientes que compraron cartones para comenzar el Bingo. Ejemplo: 2 (se van a requerir dos clientes).</td>
          </tr>

         <tr>
            <td><%- settings.minTotalClientsCount.description %></td>
            <td>
              <div id="minTotalClientsCount">
                <input type="text" id="minTotalClientsCount-input" value="<%- settings.minTotalClientsCount.value %>" class="input-small setting">
                <button id="minTotalClientsCount" class="btn btn-mini btn-success" type="button">Guardar</button>
                
              </div>
            </td>
            <td>Cantidad de clientes conectados que se requieren para comenzar el Bingo. Es la cantidad total sin importar si hayan comprado cartones.</td>
          </tr>

         <tr>
            <td><%- settings.sellingCancellationTimeout.description %></td>
            <td>
              <div id="sellingCancellationTimeout">
                <input type="text" id="sellingCancellationTimeout-input" value="<%- settings.sellingCancellationTimeout.value %>" class="input-small setting">
                <button id="sellingCancellationTimeout" class="btn btn-mini btn-success" type="button">Guardar</button>
                
              </div>
            </td>
            <td>Cuánto se esperará hasta lograr las dos condiciones de cantidad de clientes. Si no se cumplen esos requisitos, se cancela la partida y se devuelve el dinero. Ejemplo: 180 segundos (3 minutos).</td>
          </tr>

         <tr>
            <td><%- settings.accumulatedOrder.description %></td>
            <td>
              <div id="accumulatedOrder">
                <input type="text" id="accumulatedOrder-input" value="<%- settings.accumulatedOrder.value %>" class="input-small setting">
                <button id="accumulatedOrder" class="btn btn-mini btn-success" type="button">Guardar</button>
                
              </div>
            </td>
            <td>Ejemplo: 39.</td>
          </tr>

         <tr>
            <td><%- settings.accumulatedPrize.description %></td>
            <td>
              <div id="accumulatedPrize">
                <input type="text" id="accumulatedPrize-input" value="<%- settings.accumulatedPrize.value %>" class="input-small setting">
                <button id="accumulatedPrize" class="btn btn-mini btn-success" type="button">Guardar</button>
                
              </div>
            </td>
            <td>Pozo actual del Bingo acumulado. Puede ser modificado de ser necesario, pero hacerlo cuando no haya ninguna partida en ejecución.</td>
          </tr>

         <tr>
            <td><%- settings.accumulatedRatio.description %></td>
            <td>
              <div id="accumulatedRatio">
                <input type="text" id="accumulatedRatio-input" value="<%- settings.accumulatedRatio.value %>" class="input-small setting">
                <button id="accumulatedRatio" class="btn btn-mini btn-success" type="button">Guardar</button>
                
              </div>
            </td>
            <td>Ejemplo: para 2% ingresar 0.02</td>
          </tr>

         <tr>
            <td><%- settings.accumulatedEnabled.description %></td>
            <td>
              <div id="accumulatedEnabled">
                <input type="checkbox" id="accumulatedEnabled-input"
<% print(parseInt(settings.accumulatedEnabled.value, 10) ? 'checked' : null); %> class="input-small setting">
                <button id="accumulatedEnabled" class="btn btn-mini btn-success" type="button">Guardar</button>
                
              </div>
            </td>
            <td>Si está desactivado, el sistema se asegurará de sortear las bolas de manera que no se cante bingo antes de la bola max configurada.</td>
          </tr>

         <tr>
            <td><%- settings.autoBingoEnabled.description %></td>
            <td>
              <div id="autoBingoEnabled">
                <input type="checkbox" id="autoBingoEnabled-input"
<% print(parseInt(settings.autoBingoEnabled.value, 10) ? 'checked' : null); %> class="input-small setting">
                <button id="autoBingoEnabled" class="btn btn-mini btn-success" type="button">Guardar</button>
                
              </div>
            </td>
            <td>Si está habilitado, el sistema todo el tiempo jugará una partida con el precio de cartón definido más abajo.</td>
          </tr>

          <tr>
            <td><%- settings.cardPrice.description %></td>
            <td>
              <div id="cardPrice">
                <input type="text" id="cardPrice-input" value="<%- settings.cardPrice.value %>" class="input-small setting">
                <button id="cardPrice" class="btn btn-mini btn-success" type="button">Guardar</button>
                
              </div>
            </td>
            <td>Precio del cartón para el bingo automático. Puede ser 0. Ejemplo: 4.</td>
          </tr>

          <tr>
            <td><%- settings.cardColor.description %></td>
            <td>
              <div id="cardColor">
                <!--<input type="text" id="cardColor" value="<%- settings.cardColor.value %>" class="input-small setting">-->
                <select id="cardColor-input" class="input-medium">
                  <option value="1">Rojo</option>
                  <option value="2">Azul</option>
                  <option value="3">Verde</option>
                  <option value="4">Rosa</option>
                  <option value="5">Anaranjado</option>
                </select>
                <button id="cardColor" class="btn btn-mini btn-success" type="button">Guardar</button>
                
              </div>
            </td>
            <td>Color del cartón para el bingo automático.</td>
          </tr>

          <tr>
            <td><%- settings.increaseAccumulatedOrderEvery.description %></td>
            <td>
              <div id="increaseAccumulatedOrderEvery">
                <input type="text" id="increaseAccumulatedOrderEvery-input" value="<%- settings.increaseAccumulatedOrderEvery.value %>" class="input-small setting">
                <button id="increaseAccumulatedOrderEvery" class="btn btn-mini btn-success" type="button">Guardar</button>
                
              </div>
            </td>
            <td>Cada cuantas horas incrementar Bola max. Ejemplo: 24 (lo incrementa cada 24 horas). Para desactivarlo, ingresar 0 (cero).</td>
          </tr>

          <tr>
            <td><%- settings.virtualClientsId.description %></td>
            <td>
              <div id="virtualClientsId">
                <input type="text" id="virtualClientsId-input" value="<%- settings.virtualClientsId.value %>" class="input-large setting">
                <button id="virtualClientsId" class="btn btn-mini btn-success" type="button">Guardar</button>
                
              </div>
            </td>
            <td>Id de clientes virtuales</td>
          </tr>

        </tbody>
      </table>
    </p>

  </div>
</div>
